* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'roboto';
}

$main-color: #173047;
$main-font:'Roboto';

header {
  width: 100%;
  height: 100px;
  // background-color: dodgerblue;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .header__logo {
    display: flex;
    margin-left: 120px;

    .logo {
      width: 113px;
      height: 28px;
    }

    .header__line {
      mix-blend-mode: normal;
      opacity: 0.3;
      border: 1px solid #979797;
      margin: 0px 14px 0px 16px;
    }

    .header__text {
      font-family: $main-font;
      margin-top: 5px;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      color: #000000;
    }
  }

  .nav__text {
    margin-right: 92px;

    .nav__link {
      margin-right: 28px;
      text-decoration: none;
      color: $main-color;
      font-family: $main-font;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 11px;
      line-height: 13px;

      .button__link {
        padding: 15px 23px 16px 51px;
        mix-blend-mode: normal;
        border: 1px solid #4688D5;
        background: #F5F5F5;
        border-radius: 3px;

        &:hover {
          // color: #4688D5;
          background-color: #4688D5;
        }
      }

    }
  }
}

.link {
  font-family: $main-font;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.2px;
  color: #3CC8AE;
  mix-blend-mode: normal;
  opacity: 0.9;
  margin-left: 360px;

}

.hero__img {
  width: 820px;
  height: 366px;
  border-radius: 6px;
  display: flex;
  margin: auto;
  margin-top: 32px;
}

.data {
  font-family: $main-font;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #152739;
  mix-blend-mode: normal;
  opacity: 0.4;
  margin: 36px 0px 24px 360px;
}

h1 {
  font-family: $main-font;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -1px;
  color: #152739;
  margin-left: 360px;
}

.bloc {
  width: 370px;
  height: 65px;
  // background-color: yellow;
  box-shadow: 0px 7px 24px rgba(48, 56, 64, 0.16);
  border-radius: 6px;
  margin: 33px 0px 31px 360px;
  display: flex;
  align-items: center;
  justify-content: space-around;

  .bloc__link {
    width: 37px;
    height: 37px;
    background-color: #3CC8AE;
    box-shadow: 0px 22px 34px rgba(60, 200, 174, 0.5);
    border-radius: 6px;
  }

  .bloc__line {
    width: 1px;
    height: 65px;
    background: #D8D8D8;
    mix-blend-mode: normal;
    opacity: 0.5;
  }

  .bloc__text {

    .bloc__text__one {
      font-family: $main-font;
      font-weight: 400;
      font-size: 13px;
      line-height: 15px;
      text-align: center;
      letter-spacing: -0.15px;
      color: #000000;
      mix-blend-mode: normal;
      opacity: 0.5;
    }

    .bloc__namber {
      font-family: $main-font;
      font-weight: 900;
      font-size: 21px;
      line-height: 25px;
      letter-spacing: -0.2px;
      color: #152739;
    }
  }
}

.blok {
  width: 820px;
  margin-left: 360px;

  .text {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #000000;
    mix-blend-mode: normal;
    opacity: 0.8;
  }

  .blok__title {
    margin: 40px 0px 17px 0px;
  }

  .img {
    margin: 40px 0px 20px 0px;
  }

  .blok__link {
    font-family: 'SFProDisplay';
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #000000;
    mix-blend-mode: normal;
    opacity: 0.3;
    margin-bottom: 40px;
  }

}

.lest {
  width: 820px;
  height: 221px;
  margin-left: 360px;
  margin-top: 40px;
  background: linear-gradient(180deg, #F7F8FA 0%, #EDF1F5 100%);

  .lest__title {
    font-weight: 500;
    font-size: 28px;
    line-height: 28px;
    letter-spacing: -0.777778px;
    color: #152739;
    padding-top: 36px;
    padding-left: 36px;
  }

  .lest__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.2px;
    color: #152739;
    mix-blend-mode: normal;
    opacity: 0.8;
    padding-bottom: 23px;
    margin: 16px 23px 0px 36px;
  }

  .lest__input {
    margin-left: 36px;
  }

  .input {
    padding: 16px 368px 17px 24px;
    border: none;
    background: #FFFFFF;
    border: 1px solid #D4D8DF;
    border-radius: 3px
  }

  .lest__button {
    padding: 18px 15px 19px 24px;
    border: none;
    background: #3CC8AE;
    box-shadow: 0px 22px 34px rgba(60, 200, 174, 0.5);
    border-radius: 3px;
    margin-left: 16px;
    color: #FFFFFF;
    margin-bottom: 63px;
  }

  .lest__button:hover {
    background-color: hsl(169, 65%, 53%);
    border-radius: hwb(169 20% 25%);
  }

  .lest__button:focus {
    box-shadow: 0px 0px 0px 2px hsl(169, 100%, 52%);
  }
}

.line {
  width: 820px;
  height: 1px;
  background: #D8D8D8;
  margin: 40px 0px 24px 360px;
}

.title {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #152739;
  mix-blend-mode: normal;
  opacity: 0.4;
  margin-left: 947px;
  margin-top: -97px;
}